.home-container {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    margin-top: 1%;
    max-width: 300px;
    background: #fff;
}
.title-form {
    color:#fc9d01;
}
.subtitle-form {
    color: #2c4a6b;
}
.matricula-form {
    color: #fc9d01;
    font-size: 23px;
}
.matricula-input {
    padding: 12px;
    border: 1px solid #fc9d01;
    border-radius: 5px;
}
.ano-form {
    color: #fc9d01;
    font-size: 23px; 
}
.ano-input {
    padding: 12px;
    border: 1px solid #fc9d01;
    border-radius: 5px;
}
.button-form {
    padding: 8px;
    width: 80%;
    background: #2c4a6b;
    color: #fff;
    font-size: 20px;
    border: 1px solid #2c4a6b;
    border-radius: 5px;
    cursor: pointer;
}

hr {
    height: 1px;
    background: #dcdcdc;
    color: #dcdcdc;
    border: 1px solid #dcdcdc;
}